/*---------------------------
	Fonts
----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');


// fonts
$base-font-size: 15;
$base-font: 'EB Garamond', serif;
$heading-font: 'EB Garamond', serif;



// color
$dark-gray: #101010;
$body-color: #eee8e2;
$white: #fff;
$light: #8188a9;
$black: #000;
$small-black: #333;
$cyan: #848892;

$theme-primary-color: #333;
$theme-primary-color-s2: #ded5c7;
$theme-primary-color-s3: #796f61;
$theme-primary-color-s4: #E5D1C7;
$body-bg-color: #fff;
$section-bg-color: #FCFDFA;
$section-bg-color-s2: #FAF2EE;
$section-bg-color-s3: #F1F3EE;
$section-bg-color-s4: #F5F5F5;
$text-color: #5C5C5C;
$text-light-color: #7b7b7b;
$heading-color: #68615a;
$heading-color2: #333;
$border-color: #eee8e2;
$border-color-s2: #eee8e2;
